<footer>

    <div class="waves"></div>

    <div class="floatClass">
        <div id="warship"></div>
    </div>

    <div id="waves"></div>
    <div id="water">
            <p>Made by KissLove for <a href="https://chineseplus.ru" target="_blank">ChinesePlus.ru</a></p>

    </div>
</footer>