<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e9ecef">
        <!-- Navbar content -->

        <a class="navbar-brand" href="/">
            <img src="img/chest.svg" width="30" height="30" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Играть</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">Про Игру</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">удалено</a>
                </li>
            </ul>
        </div>
        
    </nav>
</div>
